h1 {
    color: brown;
    font-size: 50px;
}

h2 {
    color: blue;
}

body section p {
    color:  orange;
}

#koumoku01 {
    background-color: aqua;
}

.pink-text {
    color: blueviolet;
}

.bold-text {
    font-weight: 700;
    font-size: 32px;
}